---
import Switch from '../components/Switch.astro';

const empresa = [
  "TRATADOS EN FORMA LICITA, TRANSPARENTE Y LEGAL CON RESPECTO AL INTERESADO?", 
	"SON RECOGIDOS CON LOS FINES YA DETERMINADOS DE MANERA EXPLICITA Y LEGITIMA?",
	"SON ADECUADOS, PERTINENTES Y LIMITADOS, CON RELACIÓN A LOS FINES PARA LOS QUE SON TRATADOS?",
	"SON EXACTOS Y ACTUALIZADOS?",
	"SE TRATAN CON MECANISMOS DE SEGURIDAD ADECUADA?",
	"SE GUARDAN Y ARCHIVAN, YA AÚN CUMPLIDA LA FINALIDAD DEL TRATAMIENTO?",
	"EL INTERESADO DIO SU CONSENTIMIENTO?", 
	"PARA UNO O VARIOS FINES?",
	"LA EMPRESA ES CAPAZ DE DEMOSTRAR QUE EL INTERESADO DIO SU CONSENTIMIENTO DE FORMA LIBRE Y EXPRESA?"

];
---

<section class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
	<div class="flex m-auto">
		<h1 class="text-gray-700 dark:text-gray-400 p-6 text-4xl font-extrabold m-auto bg-white dark:bg-gray-800 rounded-lg shadow-md"> CUMPLIMIENTO DE LOS PRINCIPIOS RELATIVOS AL TRATAMIENTO DE DATOS PERSONALES </h1>
	</div>
	  <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">LOS DATOS PERSONALES QUE LA EMPRESA TRATA SON?</h2>
  <form action="/submit" method="post">
    {empresa.map((pregunta, index) => (
      <Switch id={`switch-${index}`} label={pregunta} />
    ))}
    <button
      type="submit"
      class="mt-4 w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >
      Enviar
    </button>
  </form>
</section>
