---
import Switch from '../components/Switch.astro';

const general = [
"LA EMPRESA CUMPLE CON LA TRIADA CIA (CONFIDENCIALIDAD, INTEGRIDAD Y DISPONIBILIDAD)?",
"RESPONSABLE Y ENCARGADO CUMPLEN POR IGUAL LA TRIADA CIA?",
"POSEE MEDIDAS PREVENTIVAS DE SEGURIDAD?",
"POSEE MÉTODOS A LOS FINES DE DETECTAR INCIDENTES?",
"POSEE MÉTODOS DE RESPUESTAS DE INCIDENTES?",
"HAY UN MANUAL DE RESPUESTA A INCIDENTES O BRECHAS DE SEGURIDAD DE LA EMPRESA?",
"HAY UNA ALTA COMISIÓN DESIGNADA POR DPOS, CISO Y CUALQUIER GERENTE JERÁRQUICO DE LA EMPRESA?",
"TIENE PLAN DE CONTINUIDAD DE LA EMPRESA?",
"TIENE REALIZADAS AUDITORÍAS?",
"TIENE REALIZADOS ANÁLISIS DE MADUREZ?",
"POSEE ALGUNA CERTIFICACIÓN ISO O ALGUN ESTÁNDAR O CERTIFICACIÓN RECONOCIDA MUNDIALMENTE?",
"LOS EMPLEADOS, PROVEEDORES DE SERVICIOS Y TERCEROS INTEGRANTES DE LA CADENA DE VALOR DEL A EMPRESA TIENEN CONOCIMIENTO DE LOS ACCESOS Y LOS DATOS QUE TRATAN?",
"LA EMPRESA CAPACITA A SUS EMPLEADOS SOBRE ESTOS TEMAS?", 
"REALIZAN CURSOS DE CAPACITACIÓN CONSTANTE?",
"EXISTE UN MANUAL DE SEGURIDAD DE LA EMPRESA?",
"LA INFORMACIÓN DE DATOS QUE UTILIZA SE ENCUENTRA ENCRIPTADA?",
"LA INFORMACIÓN DE DATOS QUE UTILIZA SE ENCUENTRA ANONIMIZADA?",
"LA INFORMACIÓN DE DATOS QUE UTILIZA SE ENCUENTRA PSEUDOANONIMIZADA?",
"SU EMPRESA POSEE UNA CULTURA DE DATOS Y CIBERSEGURIDAD?",
"LA EMPRESA EXIGE QUE SUS SUBCONTRATADOS, ENCARGADOS Y DEMÁS CUENTEN CON ALTOS STANDARES DE CIBERSEGURIDAD?"
];
---

<section class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
	<div class="flex m-auto">
		<h1 class="text-gray-700 dark:text-gray-400 p-6 text-4xl font-extrabold m-auto bg-white dark:bg-gray-800 rounded-lg shadow-md"> SEGURIDAD DE DATOS PERSONALES</h1>
	</div>
	  <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">GENERAL</h2>
  <form action="/submit" method="post">
    {general.map((pregunta, index) => (
      <Switch id={`switch-${index}`} label={pregunta} />
    ))}
    <button
      type="submit"
      class="mt-4 w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >
      Enviar
    </button>
  </form>
</section>
