---
import Switch from '../components/Switch.astro';

const situacion = [
"LA EMPRESA REALIZA TRANSFERENCIA DE DATOS PERSONALES INTERNACIONALMENTE?",
"LA EMPRESA REALIZA TRATAMIENTO DE DATOS PERSONALES A PAÍSES CONSIDERADOS ADECUADOS CONFORME LA NORMATIVA?",
"LA EMPRESA UTILIZA MECANISMOS ADECUADOS Y TÉCNICOS A LOS FINES DE PROTEGER LOS DATOS PERSONALES?",
"CUÁLES UTILIZA?",
"LA EMPRESA UTILIZA (BCRS) NORMAS CORPORATIVA VINCULANTES?",
"LA EMPRESA UTILIZA CLAÚSULA STANDARDS DE DATOS PERSONALES ADOPTADAS POR LA COMISIÓN EUROPEA?",
"LA EMPRESA TIENE CERTIFICACIONES DE DATOS PERSONALES Y CIBERSEGURIDAD RECONOCIDAS POR LA AUTORIDAD DE APLICACIÓN?",
"LA EMPRESA UTILIZA CLÁUSULAS CONTRACTUALES ENTRE RESPONSABLE, ENCARGADO Y AUTORIDADES PÚBLICAS?"
];
---

<section class="p-6 bg-white dark:bg-gray-800 rounded-lg shadow-md">
	<div class="flex m-auto">
		<h1
			class="p-6 text-4xl font-extrabold m-auto bg-white dark:bg-gray-800 rounded-lg shadow-md"
		>
			AUDITORÍA EXTERNA EN MATERIA DE DATOS PERSONALES PARA TODOS LOS
			INTERESADOS, CLIENTES O USUARIOS
		</h1>
	</div>
	<h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-4">
		TRANSFERENCIA INTERNACIONAL DE DATOS PERSONALES	</h2>
	<form action="/submit" method="post">
		{
			situacion.map((pregunta, index) => (
				<Switch id={`switch-${index}`} label={pregunta} />
			))
		}
		<button
			type="submit"
			class="mt-4 w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
		>
			Enviar
		</button>
	</form>
</section>
